// ***********************************
// TABS
// ***********************************

header {
	width:100%;
	background-color: $blue-dark;
	padding:30px;

		h3 {
			color: $light-grey;
			line-height: 0px;
			margin-bottom: 0px;
			margin-top: 0px;

		}
}